{% extends "base.html" %}

{% block content %}

<style type="text/css">
    .bg-white {
        background-color: white;
    }
</style>

<div class='container-lg'>
    <div class='d-flex flex-wrap'>
        <div class='col-10 offset-1 d-lg-none bg-white mb-3'>
            <p>This is the right bar(hidden)</p>
            <a href='{% url "blog:create" %}'>New Blog</a>
        </div>
        <div class='col-10 col-lg-7 offset-1 bg-white'>
            <p>Hello world</p>
            <p>Hello world</p>
            <p>Hello world</p>
            <p>Hello world</p>
            <p>Hello world</p>
        </div>
        <div class='col-lg-3 d-none d-lg-block ml-3 bg-white'>
            <p>This is the right bar</p>
            <p>This is the right bar</p>
            <p>This is the right bar</p>
            <p>This is the right bar</p>
            <a href='{% url "blog:create" %}'>New Blog</a>
        </div>
    </div>
</div>

{% endblock content %}