<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the header</title>

    {% if request.user.is_authenticated %}
        <p>Hello, {{request.user.username}} | 
            <a href="{% url 'account' %}">Account</a> | 
            <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a></p>
    {% endif %}

    <hr>
</head>

<body>
    
    {% block content %}
    {% endblock %}

</body>

<footer>
    <hr>
    <h3>This is the footer</h3>
</footer>

</html>