<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog site</title>

</head>

<body>
    
   

    <div class='d-flex flex-column vh-100'>
        {% include 'account/snippets/header.html' %}
        <div class='flex-grow-1'>
            {% block content %}
            {% endblock %}
        </div>
        <div>
            {% include 'account/snippets/footer.html' %}
        </div>
    </div>

</body>

</html>